* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100%;
}

.navbar {
  background-color: #EAC435;
  display: flex;
  height: 7%;
  padding: 0 1.5rem;
  width: 100%;
}
.navbar .thumbnail {
  display: flex;
  align-items: center;
  flex: 55%;
  height: 100%;
  width: 100%;
}
.navbar .thumbnail .gateway {
  color: black;
  font-size: 2rem;
  padding: 0.5rem;
}
.navbar .thumbnail .gateway:hover {
  color: white;
}
.navbar .menu {
  flex: 45%;
  float: right;
  display: flex;
  height: 100%;
  width: 100%;
}
.navbar .menu .nav-item,
.navbar .menu .active {
  align-items: center;
  color: black;
  display: flex;
  flex: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  height: fullStretch;
  justify-content: center;
}
.navbar .menu .nav-item:hover,
.navbar .menu .active:hover {
  background-color: #2A628F;
  color: white;
}
.navbar .menu .nav-item:hover div img,
.navbar .menu .active:hover div img {
  filter: invert(100%);
}
.navbar .menu .nav-item div,
.navbar .menu .active div {
  margin: 0 0.1rem;
}
.navbar .menu .active {
  background-color: #2A628F;
  color: white;
}
.navbar .menu .active div img {
  filter: invert(100%);
}

.form-element {
  background-color: white;
  height: 1.5rem;
  width: 100%;
}

.tbl {
  border-collapse: collapse;
  width: 100%;
}
.tbl tr th {
  position: sticky !important;
  top: 0;
}

.tbl-header {
  align-items: center;
  background-color: #EAC435;
  cursor: pointer;
  height: 1.5rem;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}
.tbl-header:hover {
  background-color: #2A628F;
  color: white;
}
.tbl-header:active {
  color: black;
}

.tbl-data {
  border: 1px solid lightgrey;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;
  height: 1.4rem;
}
.tbl-data:hover {
  background-color: #2A628F;
  color: white;
}
.tbl-data:active {
  color: black;
}

.columnSelector:hover {
  border-right: 2px solid #2A628F;
}

.btn {
  background-color: #2A628F;
  border: 1px solid #2A628F;
  color: white;
  cursor: pointer;
  height: 1.5rem;
  width: 100%;
}
.btn:active {
  color: black;
}
.btn:hover {
  opacity: 0.7;
}

.pagination {
  height: 1.5rem;
  display: inline-block;
  text-align: center;
}
.pagination .page-input {
  text-align: center;
  font-size: 1rem;
  height: auto;
  width: 2.3rem;
  background-color: white;
}

/*# sourceMappingURL=common.css.map */
