$fullVertical: 100vh
$fullStretch: 100%
$normal-font: Arial, Helvetica, sans-serif
$color1: #EAC435 // yellow
$color2: #2A628F // darkblue
$color3: lightgrey
$color4: white
$color5: black

*
	box-sizing: border-box
	margin: 0
	padding: 0

a
	text-decoration: none

body
	height: $fullVertical
	width: $fullStretch

.navbar
	background-color: #EAC435
	display: flex
	height: 7%
	padding: 0 1.5rem
	width: $fullStretch

	.thumbnail
		display: flex
		align-items: center
		flex: 55%
		height: $fullStretch
		width: $fullStretch

		.gateway
			color: $color5
			font-size: 2rem
			padding: 0.5rem

			&:hover
				color: $color4

	.menu
		flex: 45%
		float: right
		display: flex
		height: $fullStretch
		width: $fullStretch

		.nav-item,
		.active
			align-items: center
			color: $color5
			display: flex
			flex: 10%
			font-family: $normal-font
			font-size: 0.9rem
			height: fullStretch
			justify-content: center

			&:hover
				background-color: $color2
				color: $color4

				div img
					filter: invert(100%)

			div
				margin: 0 0.1rem

		.active
			background-color: $color2
			color: $color4

			div img
				filter: invert(100%)

.form-element
	background-color: $color4
	height: 1.5rem
	width: $fullStretch

.tbl
	border-collapse: collapse
	width: $fullStretch

	tr th
		position: sticky !important
		top: 0

.tbl-header
	align-items: center
	background-color: $color1
	cursor: pointer
	height: 1.5rem
	display: flex
	font-family: $normal-font
	justify-content: center

	&:hover
		background-color: $color2
		color: $color4

	&:active
		color: $color5

.tbl-data
	border: 1px solid $color3
	padding-top: 0.3rem
	padding-bottom: 0.3rem
	padding-left: 0.3rem
	height: 1.4rem

	&:hover
		background-color: $color2
		color: $color4

	&:active
		color: $color5

.columnSelector
	&:hover
		border-right: 2px solid $color2

.btn
	background-color: $color2
	border: 1px solid $color2
	color: $color4
	cursor: pointer
	height: 1.5rem
	width: 100%

	&:active
		color: $color5

	&:hover
		opacity: 0.7

.pagination
	height: 1.5rem
	display: inline-block
	text-align: center

	.page-input
		text-align: center
		font-size: 1rem
		height: auto
		width: 2.3rem
		background-color: $color4