main {
  flex-direction: column;
  height: 91%;
  padding-top: 0.8%;
  padding-bottom: 0;
  padding-left: 1%;
  padding-right: 1%;
}
main .form {
  display: grid;
  grid-template-columns: 4rem 12rem 8rem 5rem 5rem;
  grid-column-gap: 0.5rem;
  margin-bottom: 0.5%;
}
main .table-container {
  height: 89%;
  overflow-x: auto;
  overflow-y: auto;
  padding: 0 0.1%;
  margin-top: 0.5%;
  width: 100%;
}

.tools-btn {
  background-color: #2A628F;
  border: 1px solid #2A628F;
  cursor: pointer;
  height: 100%;
  float: left;
  margin-left: 0.5rem;
  width: 1.5rem;
}
.tools-btn:focus {
  outline: none;
}
.tools-btn:hover {
  opacity: 0.8;
}
.tools-btn:active img {
  filter: invert(100%);
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -50px;
  opacity: 1;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#show-page {
  background-color: white;
  width: 3rem;
  margin-left: 0.5rem;
}

.pagination {
  margin-left: 50%;
}

.tbl-btn-container {
  display: inline;
  float: right;
}

/*# sourceMappingURL=inventory.css.map */
