main {
  padding: 0.5rem;
}

.form {
  display: grid;
  grid-template-columns: 5rem 10rem 2rem 10rem;
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
}
.form > label {
  margin-left: 0.5rem;
  align-self: center;
}

#firstLabel,
.inputField {
  grid-row-start: 2;
}

#firstLabel {
  grid-column-start: 1;
  grid-column-end: 2;
}

.inputField {
  grid-column-start: 2;
  grid-column-end: 6;
}

#fromLbl,
#toLbl,
#from,
#to {
  grid-row-start: 3;
}

#submitBtn {
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
  width: 10rem;
}

.view-container {
  margin-bottom: 0.5rem;
}

#show-page {
  background-color: white;
  width: 3rem;
  margin-left: 0.5rem;
}

.pagination {
  margin-left: 50%;
}

.tbl-btn-container {
  display: inline;
  float: right;
}

#firstLabel,
.inputField {
  display: none;
}

/*# sourceMappingURL=reports.css.map */
