$fullVertical: 100vh
$fullStretch: 100%
$normal-font: Arial, Helvetica, sans-serif
$color1: #EAC435 // yellow
$color2: #2A628F // darkblue
$color3: lightgrey
$color4: white
$color5: black

main
	height: 91%
	overflow: hidden

.tab
	overflow: hidden
	background-color: $color1
	height: 5%

.tab button
	background-color: inherit
	border: none
	cursor: pointer
	float: left
	height: $fullStretch
	outline: none
	padding-top: 0.3rem
	padding-bottom: 0.8rem
	padding-left: 0.5rem
	padding-right: 0.5rem
	font-size: 0.8rem

	&:hover,
	&.active
		background-color: $color2
		color: $color4

.tab-content
	border-top: none
	height: 96%
	padding: 0 1%
	padding-top: 0.5%

.form
	display: grid
	grid-template-columns: 6rem auto 6rem auto 6rem auto
	grid-column-gap: 1rem
	grid-row-gap: 0.5rem
	width: $fullStretch
	margin-bottom: 1%

.table-container
	height: 48%
	overflow-x: auto
	overflow-y: auto
	padding: 0 0.1%
	margin-top: 0.3%
	width: $fullStretch

.total-container
	display: grid
	margin-top: 0.5%
	margin-left: 84.5%
	grid-template-columns: 3rem 10rem
	width: 50%

#supplier,
#customer
	grid-column-start: 2
	grid-column-end: 5

#incoming-orderBtn,
#outgoing-orderBtn
	margin-left: auto
	margin-right: auto
	grid-column-start: 6
	grid-row-start: 5
	width: 10rem

#new-supplierBtn,
#new-customerBtn
	margin-left: auto
	margin-right: auto
	grid-column-start: 5
	grid-column-end: 7
	grid-row-start: 1
	width: 10rem

#description
	grid-column-start: 2
	grid-row-start: span 2
	height: $fullStretch
	resize: none

.date-lbl
	grid-column-start: 3
	grid-row-start: 5

#date-incoming,
#date-outgoing
	grid-column-start: 4
	grid-row-start: 5

.save-btn-container
	float: right
	margin-top: 0.5%
	width: 8rem

.tbl-tools
	height: 1.4rem

.tools-btn
	background-color: $color2
	border: 0px solid $color2
	cursor: pointer
	height: $fullStretch
	width: 1.5rem

	&:focus
		outline: none

	&:hover
		opacity: 0.8

	&:active
		img
			filter: invert(100%)

.tooltip
	position: relative
	display: inline-block

	.tooltiptext
		visibility: hidden
		width: 100px
		background-color: #555
		color: #fff
		text-align: center
		border-radius: 6px
		padding: 5px 0
		position: absolute
		z-index: 1
		bottom: 125%
		left: 50%
		margin-left: -50px
		opacity: 1
		transition: opacity 0.3s

		&::after
			content: ""
			position: absolute
			top: 100%
			left: 50%
			margin-left: -5px
			border-width: 5px
			border-style: solid
			border-color: #555 transparent transparent transparent

	&:hover .tooltiptext
		visibility: visible
		opacity: 1

.modal
	display: none
	position: fixed
	z-index: 1
	padding-top: 100px
	left: 0
	top: 0
	width: 100%
	height: 100%
	overflow: auto
	background-color: rgb(0,0,0)
	background-color: rgba(0,0,0,0.4)

.modal-content
	background-color: #fefefe
	margin: auto
	height: auto
	border: 1px solid #888
	width: 80%

.modal-header
	background-color: $color1
	padding: 0 0.5rem
	height: 2rem
	width: 100%

.modal-title
	font-size: 1.2rem
	padding-top: 0.5rem
	padding-bottom: 0.5rem
	padding-left: 0.5rem

.modal-body
	padding: 1rem

.close
	color: $color2
	float: right
	font-size: 28px
	font-weight: bold

.close:hover,
.close:focus
	color: #000
	text-decoration: none
	cursor: pointer

.new-modal-form
	margin-top: 0.5rem
	padding: 0 2rem
	display: grid
	grid-template-columns: 6rem auto
	grid-column-gap: 1rem
	grid-row-gap: 0.8rem

.add-btn
	margin-left: auto
	margin-right: auto
	grid-column-start: 1
	grid-column-end: 3
	width: 10rem