body {
	margin: 0;
	height: auto;
	overflow: auto;
	display: flex;
	flex-direction: column;
}
#cover {
	background-color: rgba(37, 34, 34, 0.658);
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
}

#cover_container {
	display: table;
	width: 100%;
	height: 100%;
}

#content_wrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.cover_content {
	background-color: #bdbda2;
	display: inline-block;
	width: 50%;
	padding: 10px;
	border: 2px solid black;
}

#content_addDelivery {
	padding: 10px 30px 10px 30px;
	text-align: left;
}

#content_addDelivery h3 {
	margin: 0;
}

#content_addDelivery label {
	font-weight: bold;
}

#content_addDelivery div {
	padding-top: 0.5em;
}

#content_addDelivery button {
	text-align: center;
}

.center {
	text-align: center;
}

.hidden {
	display: none;
}

#cover_content h3 {
	margin-top: 0;
}

main {
	overflow: auto;
	flex: 1;
	background-color: tomato;
	display: flex;
}

#body_wrapper {
	flex: 1;
	display: flex;
}


.menu_item + .menu_item {
	padding-left: 5px;
	border-left: 2px solid black;
}

nav {
	text-align: right;
	padding: 0.5em;
}

nav .menu_item {
	text-decoration: none;
	color: black;
}

nav .menu_item:hover {
	text-decoration: underline;
}

#home {
	flex: 1;
	display: flex;
	flex-direction: column;
}

#button_container {
	flex: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

#button_content {
	text-align: center;
}

#button_content .button {
	display: block;
}

button, .button {
	padding: 5px;
	margin: 5px;
}

.button {
	background: gray;
	text-decoration: none;
	border-radius: 10px;
	font-size: 1.25em;
	color: black;
}

.button:hover {
	background: rgb(92, 92, 92);
}

#body_wrapper > div {
	padding: 20px;
	flex: 1;
}

#addDeliveryDiv {
	text-align: right;
}

table {
	width: 100%;
}
