.form {
	display: flex;
	flex-direction: column;
}

.form label {
	display: inline-block;
	width: 20%;
}

.form > div {
	display: flex;
	margin: 0.5em;
}

.form select {
	width: 100px;
}

.div_answer {
	display: inline-block;
}

